# Ch. 25 Intro - Cleaning Data

Counting NaN values

In [3]:
import pandas as pd

In [4]:
cols = ['Plate ID', 'Registration State', 'Vehicle Make', 
        'Vehicle Color', 'Violation Time', 'Street Name']
df = pd.read_csv('../data/nyc-parking-violations-2020.csv', 
            usecols=cols, header=0)

In [17]:
for col in cols:
    missing_count = df[col].shape[0] - df[col].count()
    print(f"Missing in {col}: \t\t{missing_count}, {df[col].shape[0]=}")

Missing in Plate ID: 		202, df[col].shape[0]=12495734
Missing in Registration State: 		0, df[col].shape[0]=12495734
Missing in Vehicle Make: 		62420, df[col].shape[0]=12495734
Missing in Vehicle Color: 		391982, df[col].shape[0]=12495734
Missing in Violation Time: 		278, df[col].shape[0]=12495734
Missing in Street Name: 		1417, df[col].shape[0]=12495734

In [19]:
for col in cols:
    print(f"Missing in {col}: \t\t{df[col].isnull().sum()=}")

Missing in Plate ID: 		df[col].isnull().sum()=202
Missing in Registration State: 		df[col].isnull().sum()=0
Missing in Vehicle Make: 		df[col].isnull().sum()=62420
Missing in Vehicle Color: 		df[col].isnull().sum()=391982
Missing in Violation Time: 		df[col].isnull().sum()=278
Missing in Street Name: 		df[col].isnull().sum()=1417

In [8]:
df.isnull().sum()

Plate ID                 202
Registration State         0
Vehicle Make           62420
Violation Time           278
Street Name             1417
Vehicle Color         391982
dtype: int64

In [20]:
df.isna().sum()

Plate ID                 202
Registration State         0
Vehicle Make           62420
Violation Time           278
Street Name             1417
Vehicle Color         391982
dtype: int64

In [6]:
df.info(show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12495734 entries, 0 to 12495733
Data columns (total 6 columns):
 #   Column              Non-Null Count     Dtype
---  ------              --------------     -----
 0   Plate ID            12495532 non-null  object
 1   Registration State  12495734 non-null  object
 2   Vehicle Make        12433314 non-null  object
 3   Violation Time      12495456 non-null  object
 4   Street Name         12494317 non-null  object
 5   Vehicle Color       12103752 non-null  object
dtypes: object(6)
memory usage: 572.0+ MB