In [23]:
import pandas as pd
import numpy as np

In [24]:
cols = ['Plate ID', 'Registration State', 'Vehicle Make', 
        'Vehicle Color', 'Violation Time', 'Street Name']
cols

['Plate ID',
 'Registration State',
 'Vehicle Make',
 'Vehicle Color',
 'Violation Time',
 'Street Name']

In [25]:
df = pd.read_csv('../data/nyc-parking-violations-2020.csv', 
            usecols=cols, header=0)

In [26]:
df.head()

,Plate ID,Registration State,Vehicle Make,Violation Time,Street Name,Vehicle Color
0,J58JKX,NJ,HONDA,0523P,43 ST,BK
1,KRE6058,PA,ME/BE,0428P,UNION ST,BLK
2,444326R,NJ,LEXUS,0625A,CLERMONT AVENUE,BLACK
3,F728330,OH,CHEVR,1106A,DIVISION AVE,NaN
4,FMY9090,NY,JEEP,1253A,GRAND ST,GREY

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12495734 entries, 0 to 12495733
Data columns (total 6 columns):
 #   Column              Dtype
---  ------              -----
 0   Plate ID            object
 1   Registration State  object
 2   Vehicle Make        object
 3   Violation Time      object
 4   Street Name         object
 5   Vehicle Color       object
dtypes: object(6)
memory usage: 572.0+ MB

In [28]:
orig_rows = df.shape[0]
orig_rows

12495734

In [40]:
df_drop_all_na = df.dropna()

In [42]:
row_count_after_drop_all_na = df_drop_all_na.shape[0]
row_count_after_drop_all_na

12048375

In [43]:
na_rows = orig_rows - row_count_after_drop_all_na
print(f"${na_rows * 100:,}")

$44,735,900

In [49]:
drop_na_subset = ['Plate ID', 'Registration State', 'Vehicle Make', 
        'Street Name']

In [50]:
df_drop_na_subset = df.dropna(subset=drop_na_subset)

In [51]:
new_rows_count_drop_subset = df_drop_na_subset.shape[0]

In [52]:
na_row_count_dropped_subset = orig_rows - new_rows_count_drop_subset
print(f"${na_row_count_dropped_subset * 100:,}")

$6,378,500