In [2]:
import pandas as pd
import numpy as np
from pandas import DataFrame, Series

In [21]:
cols = "Year State.Code Total.Math Total.Test-takers Total.Verbal".split()
cols

['Year', 'State.Code', 'Total.Math', 'Total.Test-takers', 'Total.Verbal']

In [22]:
df = pd.read_csv('../data/sat-scores.csv', header=0, usecols=cols)

In [26]:
df['Year'].unique()

array([2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015])

In [27]:
df.head()

   Year State.Code  Total.Math  Total.Test-takers  Total.Verbal
0  2005         AL         559               3985           567
1  2005         AK         519               3996           523
2  2005         AZ         530              18184           526
3  2005         AR         552               1600           563
4  2005         CA         522             186552           504

In [28]:
df = df.set_index(['Year', 'State.Code'])

In [29]:
df.head()

                 Total.Math  Total.Test-takers  Total.Verbal
Year State.Code
2005 AL                 559               3985           567
     AK                 519               3996           523
     AZ                 530              18184           526
     AR                 552               1600           563
     CA                 522             186552           504

In [30]:
print(f"{df.loc[2005, 'Total.Test-takers'].sum():,}")

1,344,824

In [31]:
df.loc[(2010, ['NY', 'NJ', 'MA', 'IL']), 'Total.Math' ]

Year  State.Code
2010  NY            499
      NJ            514
      MA            527
      IL            601
Name: Total.Math, dtype: int64

In [32]:
df.loc[(2010, ['NY', 'NJ', 'MA', 'IL']), 'Total.Math' ].mean()

535.25

In [35]:
# answer code in Github gives Math score instead of the verbal score that was asked for.
df.loc[([2012,2013,2014,2015], ['AZ', 'CA', 'TX']), 'Total.Verbal' ].mean()

497.3333333333333

### What were the average math and verbal scores for Florida, Indiana, and Idaho across all years? (Donâ€™t break out the values by state.)

In [47]:
df.loc[(slice(None), ['FL', 'IN', 'ID']), ['Total.Math', 'Total.Verbal'] ].mean()

Total.Math      507.090909
Total.Verbal    504.606061
dtype: float64

### Which state received the highest verbal score, and in which year?

In [38]:
df['Total.Verbal'].idxmax()

(2013, 'ND')

In [48]:
df.loc[df['Total.Verbal'] == df['Total.Verbal'].max()]

                 Total.Math  Total.Test-takers  Total.Verbal
Year State.Code
2013 ND                 613                174           612

### Was the average math score in 2005 higher or lower than that in 2015?

In [45]:
df.loc[2005,'Total.Math'].mean()

535.6538461538462

In [46]:
df.loc[2015,'Total.Math'].mean()

533.0943396226415

In [49]:
# when we have a multi-index, we can ignore the second level 
df.loc[2005, 'Total.Math'].mean() - df.loc[2015, 'Total.Math'].mean()

2.559506531204647