find . -type f -size +100M -exec mv {} ~/Documents/LargeFiles/ \;

In [21]:
import pandas as pd
import numpy as np

In [22]:
cols = "Age Height Team Year Season City Sport Event Medal".split()
cols

['Age', 'Height', 'Team', 'Year', 'Season', 'City', 'Sport', 'Event', 'Medal']

In [23]:
indexes = "Year Season Sport Event".split()
indexes

['Year', 'Season', 'Sport', 'Event']

In [24]:
df = pd.read_csv('../data/olympic_athlete_events.csv', header=0, 
                 usecols=cols)

In [25]:
df['Year'].is_monotonic_increasing

False

In [26]:
df = df.set_index(indexes)

In [27]:
df.shape

(271116, 5)

In [28]:
df

                                                                     Age  \
Year Season Sport         Event
1992 Summer Basketball    Basketball Men's Basketball               24.0
2012 Summer Judo          Judo Men's Extra-Lightweight              23.0
1920 Summer Football      Football Men's Football                   24.0
1900 Summer Tug-Of-War    Tug-Of-War Men's Tug-Of-War               34.0
1988 Winter Speed Skating Speed Skating Women's 500 metres          21.0
...                                                                  ...
1976 Winter Luge          Luge Mixed (Men)'s Doubles                29.0
2014 Winter Ski Jumping   Ski Jumping Men's Large Hill, Individual  27.0
                          Ski Jumping Men's Large Hill, Team        27.0
1998 Winter Bobsleigh     Bobsleigh Men's Four                      30.0
2002 Winter Bobsleigh     Bobsleigh Men's Four                      34.0

                                                                    Height  \
Year Season Sport         Event
1992 Summer Basketball    Basketball Men's Basketball                180.0
2012 Summer Judo          Judo Men's Extra-Lightweight               170.0
1920 Summer Football      Football Men's Football                      NaN
1900 Summer Tug-Of-War    Tug-Of-War Men's Tug-Of-War                  NaN
1988 Winter Speed Skating Speed Skating Women's 500 metres           185.0
...                                                                    ...
1976 Winter Luge          Luge Mixed (Men)'s Doubles                 179.0
2014 Winter Ski Jumping   Ski Jumping Men's Large Hill, Individual   176.0
                          Ski Jumping Men's Large Hill, Team         176.0
1998 Winter Bobsleigh     Bobsleigh Men's Four                       185.0
2002 Winter Bobsleigh     Bobsleigh Men's Four                       185.0

                                                                              Team  \
Year Season Sport         Event
1992 Summer Basketball    Basketball Men's Basketball                        China
2012 Summer Judo          Judo Men's Extra-Lightweight                       China
1920 Summer Football      Football Men's Football                          Denmark
1900 Summer Tug-Of-War    Tug-Of-War Men's Tug-Of-War               Denmark/Sweden
1988 Winter Speed Skating Speed Skating Women's 500 metres             Netherlands
...                                                                            ...
1976 Winter Luge          Luge Mixed (Men)'s Doubles                      Poland-1
2014 Winter Ski Jumping   Ski Jumping Men's Large Hill, Individual          Poland
                          Ski Jumping Men's Large Hill, Team                Poland
1998 Winter Bobsleigh     Bobsleigh Men's Four                              Poland
2002 Winter Bobsleigh     Bobsleigh Men's Four                              Poland

                                                                              City  \
Year Season Sport         Event
1992 Summer Basketball    Basketball Men's Basketball                    Barcelona
2012 Summer Judo          Judo Men's Extra-Lightweight                      London
1920 Summer Football      Football Men's Football                        Antwerpen
1900 Summer Tug-Of-War    Tug-Of-War Men's Tug-Of-War                        Paris
1988 Winter Speed Skating Speed Skating Women's 500 metres                 Calgary
...                                                                            ...
1976 Winter Luge          Luge Mixed (Men)'s Doubles                     Innsbruck
2014 Winter Ski Jumping   Ski Jumping Men's Large Hill, Individual           Sochi
                          Ski Jumping Men's Large Hill, Team                 Sochi
1998 Winter Bobsleigh     Bobsleigh Men's Four                              Nagano
2002 Winter Bobsleigh     Bobsleigh Men's Four                      Salt Lake City

                                                                   Medal
Year Season Sport         Event
1992 Summer Basketball    Basketball Men's Basketball                NaN
2012 Summer Judo          Judo Men's Extra-Lightweight               NaN
1920 Summer Football      Football Men's Football                    NaN
1900 Summer Tug-Of-War    Tug-Of-War Men's Tug-Of-War               Gold
1988 Winter Speed Skating Speed Skating Women's 500 metres           NaN
...                                                                  ...
1976 Winter Luge          Luge Mixed (Men)'s Doubles                 NaN
2014 Winter Ski Jumping   Ski Jumping Men's Large Hill, Individual   NaN
                          Ski Jumping Men's Large Hill, Team         NaN
1998 Winter Bobsleigh     Bobsleigh Men's Four                       NaN
2002 Winter Bobsleigh     Bobsleigh Men's Four                       NaN

[271116 rows x 5 columns]

What is the average age of winning athletes in summer games held between
1936 and 2000?

In [38]:
df = df.sort_index()

In [43]:
df.loc[(slice(1936,None), 'Summer'), 'Age'].mean()

25.026883940421765

What team has won the most medals in all archery events?

In [44]:
df.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 271116 entries, (1896, 'Summer', 'Athletics', "Athletics Men's 1,500 metres") to (2016, 'Summer', 'Wrestling', "Wrestling Women's Middleweight, Freestyle")
Data columns (total 5 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Age     261642 non-null  float64
 1   Height  210945 non-null  float64
 2   Team    271116 non-null  object
 3   City    271116 non-null  object
 4   Medal   39783 non-null   object
dtypes: float64(2), object(3)
memory usage: 11.7+ MB

In [45]:
dfmedal = df.dropna(subset='Medal')

In [46]:
dfmedal.shape

(39783, 5)

In [52]:
dfmedal.loc[(slice(None),slice(None),'Archery'), 'Team'].value_counts()

Team
South Korea           69
Belgium               52
France                48
United States         41
China                 19
Italy                 15
Great Britain         13
Chinese Taipei         9
Netherlands            9
Cincinnati Archers     8
Ukraine                8
Soviet Union           7
Japan                  7
Germany                7
Finland                6
Australia              5
Unified Team           4
Russia                 4
Boston Archers         4
Potomac Archers        4
Poland                 4
Spain                  3
Indonesia              3
Sweden                 2
Mexico                 2
Name: count, dtype: int64

In [62]:
(
    df
    .dropna(subset='Medal')
    .loc[(slice(None), slice(None), 'Archery'), 'Team']
    .value_counts()
    .head()
    
    
)

Team
South Korea      69
Belgium          52
France           48
United States    41
China            19
Name: count, dtype: int64

Starting in 1980, what is the average height of the “Table Tennis Women’s
Team” event?

In [71]:
(
    df
    .dropna(subset='Height')
    .loc[(slice(1980,None), slice(None), slice(None), "Table Tennis Women's Team"), 'Height']
    .mean()
)

165.04827586206898

In [84]:
df.xs(('Summer', "Table Tennis Women's Team"),
    level=['Season', 'Event'])['Height'].mean()

165.04827586206898

Starting in 1980, what is the average height of both “Table Tennis Women’s
Team” and “Table Tennis Men’s Team”?

In [73]:
(
    df
    .dropna(subset='Height')
    .loc[(slice(1980,None), slice(None), slice(None), ["Table Tennis Women's Team", "Table Tennis Men's Team"]), 'Height']
    .mean()
)

171.26643598615917

How tall was the tallest-ever tennis player in Olympic games from 1980 until
2016?

In [88]:
df.loc[(slice(1980,2016), "Summer", "Tennis"), 'Height'].max()

208.0

In [89]:
(
    df
    .dropna(subset='Height')
    .loc[(slice(1980,None), slice(None), "Tennis"), 'Height']
    .max()
)

208.0

In [ ]:
(
    df
    .dropna(subset='Height')
    .loc[(slice(1980,None), slice(None), "Tennis"), 'Height']
    .max()
)

In [86]:
# page 123
from pandas import IndexSlice as idx
df.loc[idx[1980:2016, :, 'Swimming':'Table tennis'], :]

                                                                 Age  Height  \
Year Season Sport        Event
1980 Summer Swimming     Swimming Men's 1,500 metres Freestyle  19.0   185.0
                         Swimming Men's 1,500 metres Freestyle  18.0   181.0
                         Swimming Men's 1,500 metres Freestyle  19.0   178.0
                         Swimming Men's 1,500 metres Freestyle  21.0   184.0
                         Swimming Men's 1,500 metres Freestyle  16.0   174.0
...                                                              ...     ...
2016 Summer Table Tennis Table Tennis Women's Team              26.0   166.0
                         Table Tennis Women's Team              20.0   166.0
                         Table Tennis Women's Team              25.0   162.0
                         Table Tennis Women's Team              28.0   165.0
                         Table Tennis Women's Team              22.0   168.0

                                                                         Team  \
Year Season Sport        Event
1980 Summer Swimming     Swimming Men's 1,500 metres Freestyle  Great Britain
                         Swimming Men's 1,500 metres Freestyle   Soviet Union
                         Swimming Men's 1,500 metres Freestyle          Spain
                         Swimming Men's 1,500 metres Freestyle  Great Britain
                         Swimming Men's 1,500 metres Freestyle         Brazil
...                                                                       ...
2016 Summer Table Tennis Table Tennis Women's Team                  Singapore
                         Table Tennis Women's Team              United States
                         Table Tennis Women's Team                  Australia
                         Table Tennis Women's Team              United States
                         Table Tennis Women's Team                  Singapore

                                                                          City  \
Year Season Sport        Event
1980 Summer Swimming     Swimming Men's 1,500 metres Freestyle          Moskva
                         Swimming Men's 1,500 metres Freestyle          Moskva
                         Swimming Men's 1,500 metres Freestyle          Moskva
                         Swimming Men's 1,500 metres Freestyle          Moskva
                         Swimming Men's 1,500 metres Freestyle          Moskva
...                                                                        ...
2016 Summer Table Tennis Table Tennis Women's Team              Rio de Janeiro
                         Table Tennis Women's Team              Rio de Janeiro
                         Table Tennis Women's Team              Rio de Janeiro
                         Table Tennis Women's Team              Rio de Janeiro
                         Table Tennis Women's Team              Rio de Janeiro

                                                                 Medal
Year Season Sport        Event
1980 Summer Swimming     Swimming Men's 1,500 metres Freestyle     NaN
                         Swimming Men's 1,500 metres Freestyle  Silver
                         Swimming Men's 1,500 metres Freestyle     NaN
                         Swimming Men's 1,500 metres Freestyle     NaN
                         Swimming Men's 1,500 metres Freestyle     NaN
...                                                                ...
2016 Summer Table Tennis Table Tennis Women's Team                 NaN
                         Table Tennis Women's Team                 NaN
                         Table Tennis Women's Team                 NaN
                         Table Tennis Women's Team                 NaN
                         Table Tennis Women's Team                 NaN

[17935 rows x 5 columns]

In which city were the most gold medals awarded from 1980 onward?

In [ ]:
df.loc[1980:].loc[lambda df_: df_['Medal']=='Gold', 'City'].value_counts()

In [102]:
df.loc[1980:].loc[lambda df_: df_['Team']=='United States']

                                                                       Age  \
Year Season Sport         Event
1980 Winter Alpine Skiing Alpine Skiing Men's Downhill                26.0
                          Alpine Skiing Men's Downhill                22.0
                          Alpine Skiing Men's Downhill                27.0
                          Alpine Skiing Men's Downhill                23.0
                          Alpine Skiing Men's Giant Slalom            26.0
...                                                                    ...
2016 Summer Wrestling     Wrestling Men's Welterweight, Freestyle     27.0
                          Wrestling Women's Featherweight, Freestyle  24.0
                          Wrestling Women's Flyweight, Freestyle      21.0
                          Wrestling Women's Heavyweight, Freestyle    25.0
                          Wrestling Women's Middleweight, Freestyle   29.0

                                                                      Height  \
Year Season Sport         Event
1980 Winter Alpine Skiing Alpine Skiing Men's Downhill                 173.0
                          Alpine Skiing Men's Downhill                 175.0
                          Alpine Skiing Men's Downhill                 180.0
                          Alpine Skiing Men's Downhill                 165.0
                          Alpine Skiing Men's Giant Slalom             173.0
...                                                                      ...
2016 Summer Wrestling     Wrestling Men's Welterweight, Freestyle      163.0
                          Wrestling Women's Featherweight, Freestyle   163.0
                          Wrestling Women's Flyweight, Freestyle       157.0
                          Wrestling Women's Heavyweight, Freestyle     173.0
                          Wrestling Women's Middleweight, Freestyle    168.0

                                                                               Team  \
Year Season Sport         Event
1980 Winter Alpine Skiing Alpine Skiing Men's Downhill                United States
                          Alpine Skiing Men's Downhill                United States
                          Alpine Skiing Men's Downhill                United States
                          Alpine Skiing Men's Downhill                United States
                          Alpine Skiing Men's Giant Slalom            United States
...                                                                             ...
2016 Summer Wrestling     Wrestling Men's Welterweight, Freestyle     United States
                          Wrestling Women's Featherweight, Freestyle  United States
                          Wrestling Women's Flyweight, Freestyle      United States
                          Wrestling Women's Heavyweight, Freestyle    United States
                          Wrestling Women's Middleweight, Freestyle   United States

                                                                                City  \
Year Season Sport         Event
1980 Winter Alpine Skiing Alpine Skiing Men's Downhill                   Lake Placid
                          Alpine Skiing Men's Downhill                   Lake Placid
                          Alpine Skiing Men's Downhill                   Lake Placid
                          Alpine Skiing Men's Downhill                   Lake Placid
                          Alpine Skiing Men's Giant Slalom               Lake Placid
...                                                                              ...
2016 Summer Wrestling     Wrestling Men's Welterweight, Freestyle     Rio de Janeiro
                          Wrestling Women's Featherweight, Freestyle  Rio de Janeiro
                          Wrestling Women's Flyweight, Freestyle      Rio de Janeiro
                          Wrestling Women's Heavyweight, Freestyle    Rio de Janeiro
                          Wrestling Women's Middleweight, Freestyle   Rio de Janeiro

                                                                     Medal
Year Season Sport         Event
1980 Winter Alpine Skiing Alpine Skiing Men's Downhill                 NaN
                          Alpine Skiing Men's Downhill                 NaN
                          Alpine Skiing Men's Downhill                 NaN
                          Alpine Skiing Men's Downhill                 NaN
                          Alpine Skiing Men's Giant Slalom             NaN
...                                                                    ...
2016 Summer Wrestling     Wrestling Men's Welterweight, Freestyle      NaN
                          Wrestling Women's Featherweight, Freestyle  Gold
                          Wrestling Women's Flyweight, Freestyle       NaN
                          Wrestling Women's Heavyweight, Freestyle     NaN
                          Wrestling Women's Middleweight, Freestyle    NaN

[8858 rows x 5 columns]

How many gold medals were received by the United States since 1980? (Use the
index to select the values.

In [105]:
df.loc[1980:].loc[lambda df_: df_['Team']=='United States'].loc[lambda df_: df_['Medal']=='Gold'].count()

Age       1257
Height    1254
Team      1257
City      1257
Medal     1257
dtype: int64

In [106]:
df.loc[1980:].loc[lambda df_: (df_['Team'] == 'United States') & (df_['Medal'] == 'Gold'), 'City'].count()

1257

## Pivot tables

In [108]:
from pandas import DataFrame
g = np.random.default_rng(0)
df = DataFrame(g.integers(0, 100, [8,3]),
columns=list('ABC'))
df['year'] = [2018] * 4 + [2019] * 4
df['quarter'] = 'Q1 Q2 Q3 Q4'.split() * 2

In [109]:
df

    A   B   C  year quarter
0  85  63  51  2018      Q1
1  26  30   4  2018      Q2
2   7   1  17  2018      Q3
3  81  64  91  2018      Q4
4  50  60  97  2019      Q1
5  72  63  54  2019      Q2
6  55  93  27  2019      Q3
7  81  67   0  2019      Q4

In [110]:
df.pivot_table(index='quarter',
columns='year',
values='A')

year     2018  2019
quarter
Q1       85.0  50.0
Q2       26.0  72.0
Q3        7.0  55.0
Q4       81.0  81.0

In [111]:
df.pivot_table(index='quarter',
columns='year',x
values='A',
sort=False,
aggfunc='size')

year     2018  2019
quarter
Q1          1     1
Q2          1     1
Q3          1     1
Q4          1     1