In [1]:
import pandas as pd
from pandas import Series, DataFrame

In [2]:
filename = '../data/sat-scores.csv'

df = pd.read_csv(filename,
                usecols=['Year', 'State.Code', 'Total.Math', 'Total.Test-takers', 'Total.Verbal'],
                index_col=['Year', 'State.Code'])
df.head()

                 Total.Math  Total.Test-takers  Total.Verbal
Year State.Code
2005 AL                 559               3985           567
     AK                 519               3996           523
     AZ                 530              18184           526
     AR                 552               1600           563
     CA                 522             186552           504

# Beyond 1

What were the average math and verbal scores for Florida, Indiana, and Idaho across all years? (You don't break out the values by state.)

In [3]:
df.loc[(slice(None), ['FL', 'IN', 'ID']), ['Total.Math', 'Total.Verbal']].mean()

Total.Math      507.090909
Total.Verbal    504.606061
dtype: float64

# Beyond 2

Which state received the highest verbal score, and in which year?

In [4]:
# we could calculate this ourselves...
df.loc[df['Total.Verbal'] == df['Total.Verbal'].max()]

                 Total.Math  Total.Test-takers  Total.Verbal
Year State.Code
2013 ND                 613                174           612

In [6]:
# ... but we can also use idxmax to get the index of the highest score
df['Total.Verbal'].idxmax()

(2013, 'ND')

# Beyond 3

Was the average math score in 2005 higher or lower than that in 2015?

In [7]:
# when we have a multi-index, we can ignore the second level 
df.loc[2005, 'Total.Math'].mean() - df.loc[2015, 'Total.Math'].mean()

2.559506531204647