In [1]:
import pandas as pd
from pandas import Series, DataFrame

In [2]:
filename = '../data/olympic_athlete_events.csv'

df = pd.read_csv(filename,
                index_col=['Year', 'Season', 'Sport', 'Event'],
                usecols=['Age', 'Height', 'Team', 'Year', 'Season', 'City', 'Sport', 'Event', 'Medal'])
df = df.sort_index()
df.head()

                                                     Age  Height  \
Year Season Sport     Event
1896 Summer Athletics Athletics Men's 1,500 metres  24.0     NaN
                      Athletics Men's 1,500 metres   NaN     NaN
                      Athletics Men's 1,500 metres  22.0     NaN
                      Athletics Men's 1,500 metres  23.0   154.0
                      Athletics Men's 1,500 metres  21.0     NaN

                                                             Team    City  \
Year Season Sport     Event
1896 Summer Athletics Athletics Men's 1,500 metres  United States  Athina
                      Athletics Men's 1,500 metres         Greece  Athina
                      Athletics Men's 1,500 metres      Australia  Athina
                      Athletics Men's 1,500 metres        Germany  Athina
                      Athletics Men's 1,500 metres         Greece  Athina

                                                     Medal
Year Season Sport     Event
1896 Summer Athletics Athletics Men's 1,500 metres  Silver
                      Athletics Men's 1,500 metres     NaN
                      Athletics Men's 1,500 metres    Gold
                      Athletics Men's 1,500 metres     NaN
                      Athletics Men's 1,500 metres     NaN

# Beyond 1

Events take place in either summer or winter Olympic games, but not in both. As a result, the "Season" level in our multi-index is often unnecessary. Remove the "Season" level, and then find (again) the height of the tallest tennis medalist between 1980 and 2020.

In [3]:
df = df.reset_index('Season')
df.loc[(slice(1980,2020), 'Tennis'), 'Height'].max()

208.0

# Beyond 2

In which city were the greatest number of gold medals awarded from 1980 onward?

In [4]:
df.loc[1980:].loc[lambda df_: df_['Medal'] == 'Gold', 'City'].value_counts()

City
Beijing           671
Rio de Janeiro    665
Athina            664
Sydney            663
London            632
Atlanta           608
Barcelona         559
Seoul             520
Los Angeles       497
Moskva            457
Sochi             202
Torino            176
Vancouver         174
Salt Lake City    162
Nagano            145
Lillehammer       110
Albertville       104
Calgary            87
Sarajevo           74
Lake Placid        72
Name: count, dtype: int64

# Beyond 3

How many gold medals were received by the United States since 1980? (Use the index to select the values.)

In [5]:
df.loc[1980:].loc[lambda df_: (df_['Team'] == 'United States') & (df_['Medal'] == 'Gold'), 'City'].count()

1257