In [12]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [14]:
filename = '../data/nyc_taxi_2019-01.csv'
df = pd.read_csv(filename,
                usecols=['passenger_count',
                         'trip_distance', 'total_amount'])

df.head()

   passenger_count  trip_distance  total_amount
0                1            1.5          9.95
1                1            2.6         16.30
2                3            0.0          5.80
3                5            0.0          7.55
4                5            0.0         55.55

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7667792 entries, 0 to 7667791
Data columns (total 3 columns):
 #   Column           Dtype
---  ------           -----
 0   passenger_count  int64
 1   trip_distance    float64
 2   total_amount     float64
dtypes: float64(2), int64(1)
memory usage: 175.5 MB

In [16]:
df.corr()

                 passenger_count  trip_distance  total_amount
passenger_count         1.000000       0.007926     -0.000265
trip_distance           0.007926       1.000000      0.046784
total_amount           -0.000265       0.046784      1.000000

In [7]:
# For each number of passengers, find the mean cost of a taxi ride.
# Sort this result from lowest (i.e., cheapest) to highest (i.e., most expensive).

# wrong- didn't sort values

df.groupby('passenger_count')['total_amount'].mean()

passenger_count
0    18.663658
1    15.609601
2    15.831294
3    15.604015
4    15.650307
5    15.546940
6    15.437892
7    48.278421
8    64.105517
9    31.094444
Name: total_amount, dtype: float64

In [8]:
# Sort the results once again, in increasing number of passengers.

df.groupby('passenger_count')['total_amount'].mean().sort_index()

passenger_count
0    18.663658
1    15.609601
2    15.831294
3    15.604015
4    15.650307
5    15.546940
6    15.437892
7    48.278421
8    64.105517
9    31.094444
Name: total_amount, dtype: float64

In [10]:
# Now create a new column, `trip_length`, in which the values will be `short`
# (< 2 miles), `medium` (> 2 miles and <= 10 miles), or `long` (> 10 miles). 
# What was the average number of passengers per trip length category? Sort 
# this result from highest (greatest number of passengers) to lowest
# (smallest number of passengers).
# error: this code differs from book code, page 172

df['trip_distance_group'] = pd.cut(df['trip_distance'], 
                                   [df['trip_distance'].min(), 2, 10, 
                                    df['trip_distance'].max()],
                                  labels=['short', 'medium', 'long'])

df.groupby('trip_distance_group')['passenger_count'].mean().sort_values(ascending=False)

/var/folders/mm/h2z28vhs6cdbnsksl2fzl19w0000gn/T/ipykernel_13363/1942954469.py:11: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby('trip_distance_group')['passenger_count'].mean().sort_values(ascending=False)

trip_distance_group
long      1.590035
medium    1.585319
short     1.558400
Name: passenger_count, dtype: float64

In [11]:
df.corr()

ValueError: could not convert string to float: 'short'