In [4]:
import pandas as pd
from pandas import Series, DataFrame

In [10]:
distance = pd.read_csv('../data/taxi-distance.csv',header=None).squeeze()
pass_count = pd.read_csv('../data/taxi-passenger-count.csv', header=None).squeeze()
df = DataFrame({'passenger_count':pass_count, 'trip_distance': distance })

In [11]:
df.head(10)

   passenger_count  trip_distance
0                1           1.63
1                1           0.46
2                1           0.87
3                1           2.13
4                1           1.40
5                1           1.40
6                1           1.80
7                4          11.90
8                1           1.27
9                1           0.60

In [25]:
df.describe()

       passenger_count  trip_distance
count      9999.000000    9999.000000
mean          1.659466       3.158511
std           1.333306       4.037516
min           0.000000       0.000000
25%           1.000000       1.000000
50%           1.000000       1.700000
75%           2.000000       3.300000
max           6.000000      64.600000

In [18]:
qt75 = df['trip_distance'].quantile(0.75)
qt75

3.3

In [19]:
qt25 = df['trip_distance'].quantile(0.25)
qt25

1.0

In [17]:
iqr = qt75-qt25
iqr

2.3

In [21]:
df.loc[df['trip_distance'] < (qt25 - 1.5 * iqr)]

Empty DataFrame
Columns: [passenger_count, trip_distance]
Index: []

In [26]:
(qt75 + 1.5 * iqr)

6.75

In [23]:
df.loc[df['trip_distance'] > (qt75 + 1.5 * iqr)]

      passenger_count  trip_distance
7                   4          11.90
60                  1           9.30
73                  1          12.65
82                  3          10.24
88                  2          23.76
...               ...            ...
9975                1           7.60
9976                1          12.60
9979                1          11.30
9980                1           9.13
9982                1           9.30

[1219 rows x 2 columns]