In [4]:
import pandas as pd
from pandas import Series, DataFrame

In [37]:
distance = pd.read_csv('../data/taxi-distance.csv',header=None).squeeze()
pass_count = pd.read_csv('../data/taxi-passenger-count.csv', header=None).squeeze()
df = DataFrame({'passenger_count':pass_count, 'trip_distance': distance })
df.shape

(9999, 2)

In [11]:
df.head(10)

   passenger_count  trip_distance
0                1           1.63
1                1           0.46
2                1           0.87
3                1           2.13
4                1           1.40
5                1           1.40
6                1           1.80
7                4          11.90
8                1           1.27
9                1           0.60

In [25]:
df.describe()

       passenger_count  trip_distance
count      9999.000000    9999.000000
mean          1.659466       3.158511
std           1.333306       4.037516
min           0.000000       0.000000
25%           1.000000       1.000000
50%           1.000000       1.700000
75%           2.000000       3.300000
max           6.000000      64.600000

In [18]:
qt75 = df['trip_distance'].quantile(0.75)
qt75

3.3

In [19]:
qt25 = df['trip_distance'].quantile(0.25)
qt25

1.0

In [17]:
iqr = qt75-qt25
iqr

2.3

In [21]:
df.loc[df['trip_distance'] < (qt25 - 1.5 * iqr)]

Empty DataFrame
Columns: [passenger_count, trip_distance]
Index: []

In [26]:
(qt75 + 1.5 * iqr)

6.75

In [23]:
df.loc[df['trip_distance'] > (qt75 + 1.5 * iqr)]

      passenger_count  trip_distance
7                   4          11.90
60                  1           9.30
73                  1          12.65
82                  3          10.24
88                  2          23.76
...               ...            ...
9975                1           7.60
9976                1          12.60
9979                1          11.30
9980                1           9.13
9982                1           9.30

[1219 rows x 2 columns]

### Calculate the mean number of passengers for outliers. Is it different from the mean number of passengers for all trips?

In [27]:
outliers = df.loc[df['trip_distance'] > (qt75 + 1.5 * iqr)]

In [28]:
outliers.head()

    passenger_count  trip_distance
7                 4          11.90
60                1           9.30
73                1          12.65
82                3          10.24
88                2          23.76

In [29]:
outliers['passenger_count'].mean()

1.7301066447908122

In [30]:
df['passenger_count'].mean()

1.6594659465946595

### If you define outliers to be the lowest 10% and highest 10% of values, how many were there?

In [38]:
10000 * .1 *2

2000.0

In [36]:
df.loc[df['trip_distance'] <= df['trip_distance'].quantile(0.1)]

      passenger_count  trip_distance
1                   1           0.46
9                   1           0.60
10                  3           0.01
13                  2           0.50
15                  2           0.60
...               ...            ...
9948                1           0.60
9950                1           0.50
9954                1           0.48
9962                1           0.47
9978                1           0.38

[1012 rows x 2 columns]

In [40]:
df[(df['trip_distance'] < df['trip_distance'].quantile(0.1)) | 
   (df['trip_distance'] > df['trip_distance'].quantile(0.9)) ]

      passenger_count  trip_distance
1                   1           0.46
7                   4          11.90
9                   1           0.60
10                  3           0.01
13                  2           0.50
...               ...            ...
9976                1          12.60
9978                1           0.38
9979                1          11.30
9980                1           9.13
9982                1           9.30

[1984 rows x 2 columns]

In [41]:
from scipy.stats import zscore

In [45]:
df['zscore_dist'] = (zscore(df['trip_distance']))

In [46]:
df

      passenger_count  trip_distance  zscore_dist
0                   1           1.63    -0.378596
1                   1           0.46    -0.668393
2                   1           0.87    -0.566840
3                   1           2.13    -0.254751
4                   1           1.40    -0.435565
...               ...            ...          ...
9994                1           2.70    -0.113568
9995                1           4.50     0.332273
9996                1           5.59     0.602254
9997                6           1.54    -0.400888
9998                1           5.80     0.654269

[9999 rows x 3 columns]

In [47]:
df['trip_distance'][abs(zscore(df['trip_distance'])) > 3]

88      23.76
238     18.32
379     16.38
509     16.82
641     19.72
        ...
9897    16.11
9899    17.48
9906    17.70
9955    15.49
9964    18.55
Name: trip_distance, Length: 306, dtype: float64

In [49]:
df[abs(zscore(df['trip_distance'])) > 3]['trip_distance']

88      23.76
238     18.32
379     16.38
509     16.82
641     19.72
        ...
9897    16.11
9899    17.48
9906    17.70
9955    15.49
9964    18.55
Name: trip_distance, Length: 306, dtype: float64