In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
df = DataFrame([{'product_id':23, 'name':'computer', 'wholesale_price': 500, 
                 'retail_price':1000, 'sales':100},
               {'product_id':96, 'name':'Python Workout', 'wholesale_price': 35,
                'retail_price':75, 'sales':1000},
               {'product_id':97, 'name':'Pandas Workout', 'wholesale_price': 35,
                'retail_price':75, 'sales':500},
               {'product_id':15, 'name':'banana', 'wholesale_price': 0.5,
                'retail_price':1, 'sales':200},
               {'product_id':87, 'name':'sandwich', 'wholesale_price': 3,
                'retail_price':5, 'sales':300},
               ])

df

   product_id            name  wholesale_price  retail_price  sales
0          23        computer            500.0          1000    100
1          96  Python Workout             35.0            75   1000
2          97  Pandas Workout             35.0            75    500
3          15          banana              0.5             1    200
4          87        sandwich              3.0             5    300

# Beyond 1

On what products is our retail price more than twice the wholesale price?

In [3]:
# See? It's super profitable to be a bookseller!
df['name'][df['retail_price'] * 0.5 > df['wholesale_price']]

1    Python Workout
2    Pandas Workout
Name: name, dtype: object

# Beyond 2

How much did the store make from food vs. computers vs. books?  (You can just retrieve based on the index values, not anything more sophisticated.)

In [4]:
# computers
((df['retail_price'] - df['wholesale_price']) * df['sales'])[0].sum()

50000.0

In [5]:
# books
((df['retail_price'] - df['wholesale_price']) * df['sales'])[[1,2]].sum()

60000.0

In [6]:
# food 
((df['retail_price'] - df['wholesale_price']) * df['sales'])[[3,4]].sum()

700.0

# Beyond 3

Because your store is doing so well, you're able to negotiate a 30% discount on the wholesale price of goods. Calculate the new net income.

In [7]:
((df['retail_price'] - df['wholesale_price']*0.7) * df['sales']).sum()

141750.0