In [1]:
import pandas as pd
import numpy as np

In [5]:

df = pd.read_csv('../data/nyc_taxi_2020-01.csv',
            usecols=['passenger_count',
             'total_amount' , 'payment_type'],
                dtype={'passenger_count': np.float32, 
                       'total_amount': np.float32, 
                       'payment_type': np.float32})

In [6]:
df.shape

(6405008, 3)

In [7]:
df.count()

passenger_count    6339567
payment_type       6339567
total_amount       6405008
dtype: int64

In [8]:
df = df.dropna().copy()

In [9]:
df.count()

passenger_count    6339567
payment_type       6339567
total_amount       6339567
dtype: int64

In [10]:
df['passenger_count'] = df['passenger_count'].astype(np.int8)

In [12]:
df['payment_type'] = df['payment_type'].astype(np.int8)

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6339567 entries, 0 to 6339566
Data columns (total 3 columns):
 #   Column           Dtype
---  ------           -----
 0   passenger_count  int8
 1   payment_type     int8
 2   total_amount     float32
dtypes: float32(1), int8(2)
memory usage: 84.6 MB