In [1]:
import pandas as pd
import numpy as np

In [14]:
df = pd.read_csv('../data/nyc_taxi_2020-01.csv',
            usecols=['passenger_count',
            'total_amount' , 'payment_type'],
            dtype={'passenger_count': np.float32, 
            'total_amount': np.float32, 
            'payment_type': np.float32})

In [15]:
df.shape

(6405008, 3)

In [16]:
df.count()

passenger_count    6339567
payment_type       6339567
total_amount       6405008
dtype: int64

In [17]:
df = df.dropna().copy()

In [18]:
df.count()

passenger_count    6339567
payment_type       6339567
total_amount       6339567
dtype: int64

In [19]:
df['passenger_count'] = df['passenger_count'].astype(np.int8)

In [20]:
df['payment_type'] = df['payment_type'].astype(np.int8)

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6339567 entries, 0 to 6339566
Data columns (total 3 columns):
 #   Column           Dtype
---  ------           -----
 0   passenger_count  int8
 1   payment_type     int8
 2   total_amount     float32
dtypes: float32(1), int8(2)
memory usage: 84.6 MB

## Create a data frame from four other columns (VendorID, trip_distance, tip_amount, and total_amount), specifying the dtype for each. What types are most appropriate? Can you use them directly, or must you first clean the data?

In [25]:
df = pd.read_csv('../data/nyc_taxi_2020-01.csv',
            usecols=['VendorID',
            'trip_distance', 'tip_amount', 'total_amount'],
            dtype={'VendorID': np.float32, 
            'trip_distance': np.float32, 
            'tip_amount': np.float32, 
            'total_amount': np.float32})

In [30]:
df.shape

(6405008, 4)

In [31]:
df.count()

VendorID         6339567
trip_distance    6405008
tip_amount       6405008
total_amount     6405008
dtype: int64

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6405008 entries, 0 to 6405007
Data columns (total 4 columns):
 #   Column         Dtype
---  ------         -----
 0   VendorID       float32
 1   trip_distance  float32
 2   tip_amount     float32
 3   total_amount   float32
dtypes: float32(4)
memory usage: 97.7 MB

In [33]:
df = df.dropna().copy()

In [34]:
df

         VendorID  trip_distance  tip_amount  total_amount
0             1.0           1.20        1.47     11.270000
1             1.0           1.20        1.50     12.300000
2             1.0           0.60        1.00     10.800000
3             1.0           0.80        1.36      8.160000
4             2.0           0.00        0.00      4.800000
...           ...            ...         ...           ...
6339562       2.0           2.10        2.96     17.760000
6339563       2.0           2.13        3.36     20.160000
6339564       2.0           2.55        3.26     19.559999
6339565       2.0           1.61        0.00     12.300000
6339566       2.0           0.00        0.00      0.000000

[6339567 rows x 4 columns]

In [35]:
df['VendorID'] = df['VendorID'].astype(np.int8)

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6339567 entries, 0 to 6339566
Data columns (total 4 columns):
 #   Column         Dtype
---  ------         -----
 0   VendorID       int8
 1   trip_distance  float32
 2   tip_amount     float32
 3   total_amount   float32
dtypes: float32(3), int8(1)
memory usage: 127.0 MB

## Instead of removing NaN values from the VendorID column, set it to a new value: 3. How does that affect your specifications and cleaning of the data?

In [51]:
df = pd.read_csv('../data/nyc_taxi_2020-01.csv',
            usecols=['VendorID',
            'trip_distance', 'tip_amount', 'total_amount'],
            dtype={'VendorID': np.float32, 
            'trip_distance': np.float32, 
            'tip_amount': np.float32, 
            'total_amount': np.float32})

In [55]:
df['VendorID'] = df['VendorID'].fillna(3)
df['VendorID'] = df['VendorID'].astype(np.int8)

## the memory_usage method allows you to see how much memory is being used by each column in a data frame. memory_usage() returns a series of integers in which the index lists the columns, and the values represent the memory used by each column. Compare the memory used by the data frame with float16 (which you’ve already used) and when you use float64 instead for the final three columns.

In [56]:
print(f"{df.memory_usage().sum():,}")

83,265,236

In [41]:
df = pd.read_csv('../data/nyc_taxi_2020-01.csv',
            usecols=['VendorID',
            'trip_distance', 'tip_amount', 'total_amount'],
            dtype={'VendorID': np.float32, 
            'trip_distance': np.float32, 
            'tip_amount': np.float32, 
            'total_amount': np.float32})

In [57]:
df['VendorID'] = df['VendorID'].fillna(3)
df['VendorID'] = df['VendorID'].astype(np.int8)

In [58]:
df.shape

(6405008, 4)

In [59]:
df = pd.read_csv('../data/nyc_taxi_2020-01.csv',
            usecols=['VendorID',
            'trip_distance', 'tip_amount', 'total_amount'],
            dtype={'VendorID': np.float32, 
            'trip_distance': np.float64, 
            'tip_amount': np.float64, 
            'total_amount': np.float64})

In [60]:
print(f"{df.memory_usage().sum():,}")

179,340,356