In [76]:
import pandas as pd
import numpy as np
pd.options.display.float_format = '{:,.2f}'.format

In [77]:
df = pd.read_json('../data/cities.json')

In [78]:
df.loc[df['city']=='Eau Claire']

,city,growth_from_2000_to_2013,latitude,longitude,population,rank,state
507,Eau Claire,8.7%,44.81,-91.50,67545,508,Wisconsin

In [79]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   city                      1000 non-null   object
 1   growth_from_2000_to_2013  1000 non-null   object
 2   latitude                  1000 non-null   float64
 3   longitude                 1000 non-null   float64
 4   population                1000 non-null   int64
 5   rank                      1000 non-null   int64
 6   state                     1000 non-null   object
dtypes: float64(2), int64(2), object(3)
memory usage: 54.8+ KB

### What are the mean and median populations for these 1,000 largest cities? What does that tell you?

In [82]:
df['population'].describe()[['mean', '50%']]

mean   131,132.44
50%     68,207.00
Name: population, dtype: float64

In [42]:
df['population'].describe()[['mean', '50%']]

mean   131,132.44
50%     68,207.00
Name: population, dtype: float64

In [83]:
df

,city,growth_from_2000_to_2013,latitude,longitude,population,rank,state
0,New York,4.8%,40.71,-74.01,8405837,1,New York
1,Los Angeles,4.8%,34.05,-118.24,3884307,2,California
2,Chicago,-6.1%,41.88,-87.63,2718782,3,Illinois
3,Houston,11.0%,29.76,-95.37,2195914,4,Texas
4,Philadelphia,2.6%,39.95,-75.17,1553165,5,Pennsylvania
...,...,...,...,...,...,...,...
995,Weslaco,28.8%,26.16,-97.99,37093,996,Texas
996,Keizer,14.4%,44.99,-123.03,37064,997,Oregon
997,Spanish Fork,78.1%,40.11,-111.65,36956,998,Utah
998,Beloit,2.9%,42.51,-89.03,36888,999,Wisconsin
999,Panama City,0.1%,30.16,-85.66,36877,1000,Florida

### if you remove the 50 most populous cities, what happens to the mean population? What happens to the median?

In [84]:
df['population'].is_monotonic_decreasing

True

In [85]:
df[50:]['population'].mean()  # down from 131K

87027.38736842106

In [86]:
df[50:]['population'].quantile(.5)  # down from 67,207

65796.0

In [87]:
df.loc[50:,'population'].describe()[['mean', '50%']]

mean   87,027.39
50%    65,796.00
Name: population, dtype: float64

### What is the northernmost city, and where does it rank?

In [88]:
df.loc[df['latitude'].idxmax()]

city                        Anchorage
growth_from_2000_to_2013        15.4%
latitude                        61.22
longitude                     -149.90
population                     300950
rank                               63
state                          Alaska
Name: 62, dtype: object

In [89]:
df.loc[df['latitude'] == df['latitude'].max(), ['city', 'state', 'rank']]

         city   state  rank
62  Anchorage  Alaska    63

### Which state has the largest number of cities on this list?

In [90]:
df.groupby('state').count().sort_values(by='city', ascending=False).head()

,city,growth_from_2000_to_2013,latitude,longitude,population,rank
state,,,,,,
California,212,212,212,212,212,212
Texas,83,83,83,83,83,83
Florida,73,73,73,73,73,73
Illinois,52,52,52,52,52,52
Massachusetts,36,36,36,36,36,36

In [91]:
df['state'].value_counts().head(1)

state
California    212
Name: count, dtype: int64

### Which state has the smallest number of cities on this list?

In [92]:
df.groupby('state').count().sort_values(by='city', ascending=True).head(5)

,city,growth_from_2000_to_2013,latitude,longitude,population,rank
state,,,,,,
Alaska,1,1,1,1,1,1
Vermont,1,1,1,1,1,1
District of Columbia,1,1,1,1,1,1
Maine,1,1,1,1,1,1
Hawaii,1,1,1,1,1,1

In [93]:
df['state'].value_counts().tail(5)

state
Alaska                  1
Hawaii                  1
District of Columbia    1
Maine                   1
Vermont                 1
Name: count, dtype: int64

### Convert the growth_from_2000_to_2013 column into a floating-point number.  Then find the mean and median changes in city size between 2000 and 2013. If a city has no recorded growth, set it to 0.

In [94]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   city                      1000 non-null   object
 1   growth_from_2000_to_2013  1000 non-null   object
 2   latitude                  1000 non-null   float64
 3   longitude                 1000 non-null   float64
 4   population                1000 non-null   int64
 5   rank                      1000 non-null   int64
 6   state                     1000 non-null   object
dtypes: float64(2), int64(2), object(3)
memory usage: 54.8+ KB

In [95]:
df['growth_from_2000_to_2013'].value_counts()  # = df['growth_from_2000_to_2013'].str.replace("%","").astype(np.float32)

growth_from_2000_to_2013
2.9%     13
7.5%      9
5.7%      8
5.8%      8
1.9%      8
         ..
28.3%     1
37.4%     1
38.7%     1
17.3%     1
78.1%     1
Name: count, Length: 502, dtype: int64

In [96]:
df['growth2'] = df['growth_from_2000_to_2013'].str.replace("%","")  # .astype(np.float32)
df['growth2']

0       4.8
1       4.8
2      -6.1
3      11.0
4       2.6
       ...
995    28.8
996    14.4
997    78.1
998     2.9
999     0.1
Name: growth2, Length: 1000, dtype: object

In [97]:
def fix_growth(x):
    if x == '':
        return 0.0
    else:
        return float(x)

In [125]:
def fix_growth2(x):
    x = x.rstrip("% ")
    if x == '':
        return 0.0
    else:
        return float(x)

In [98]:
df['growth%'] = df['growth2'].apply(lambda x: fix_growth(x)) #astype(np.float32)

In [127]:
df['growth%2'] = df['growth_from_2000_to_2013'].apply(lambda x: fix_growth2(x)) #astype(np.float32)

In [128]:
df

,city,growth_from_2000_to_2013,latitude,longitude,population,rank,state,growth2,growth%,growth%2
0,New York,4.8%,40.71,-74.01,8405837,1,New York,4.8,4.80,4.80
1,Los Angeles,4.8%,34.05,-118.24,3884307,2,California,4.8,4.80,4.80
2,Chicago,-6.1%,41.88,-87.63,2718782,3,Illinois,-6.1,-6.10,-6.10
3,Houston,11.0%,29.76,-95.37,2195914,4,Texas,11.0,11.00,11.00
4,Philadelphia,2.6%,39.95,-75.17,1553165,5,Pennsylvania,2.6,2.60,2.60
...,...,...,...,...,...,...,...,...,...,...
995,Weslaco,28.8%,26.16,-97.99,37093,996,Texas,28.8,28.80,28.80
996,Keizer,14.4%,44.99,-123.03,37064,997,Oregon,14.4,14.40,14.40
997,Spanish Fork,78.1%,40.11,-111.65,36956,998,Utah,78.1,78.10,78.10
998,Beloit,2.9%,42.51,-89.03,36888,999,Wisconsin,2.9,2.90,2.90
999,Panama City,0.1%,30.16,-85.66,36877,1000,Florida,0.1,0.10,0.10

In [99]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   city                      1000 non-null   object
 1   growth_from_2000_to_2013  1000 non-null   object
 2   latitude                  1000 non-null   float64
 3   longitude                 1000 non-null   float64
 4   population                1000 non-null   int64
 5   rank                      1000 non-null   int64
 6   state                     1000 non-null   object
 7   growth2                   1000 non-null   object
 8   growth%                   1000 non-null   float64
dtypes: float64(3), int64(2), object(4)
memory usage: 70.4+ KB

In [130]:
df['growth%'] = df['growth%'].astype(np.float32)
df['growth%2'] = df['growth%2'].astype(np.float32)

In [131]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   city                      1000 non-null   object
 1   growth_from_2000_to_2013  1000 non-null   object
 2   latitude                  1000 non-null   float64
 3   longitude                 1000 non-null   float64
 4   population                1000 non-null   int64
 5   rank                      1000 non-null   int64
 6   state                     1000 non-null   object
 7   growth2                   1000 non-null   object
 8   growth%                   1000 non-null   float32
 9   growth%2                  1000 non-null   float32
dtypes: float32(2), float64(2), int64(2), object(4)
memory usage: 70.4+ KB

In [102]:
df['growth%'].describe()[['mean', '50%']]

mean   22.94
50%     9.65
Name: growth%, dtype: float64

### How many cities had positive growth in this period, and how many had negative growth?

In [134]:
df.loc[df['growth%2'] > 0, ['city','growth%']].sort_values(by='growth%').count()

city       847
growth%    847
dtype: int64

In [132]:
df.loc[df['growth%2'] < 0, ['city','growth%']].sort_values(by='growth%').count()

city       142
growth%    142
dtype: int64

In [133]:
df.loc[df['growth%2'] == 0].sort_values(by='growth%').count()

city                        11
growth_from_2000_to_2013    11
latitude                    11
longitude                   11
population                  11
rank                        11
state                       11
growth2                     11
growth%                     11
growth%2                    11
dtype: int64

In [112]:
df.loc[df['growth%'] < 0].sort_values(by='growth%').count()

city                        142
growth_from_2000_to_2013    142
latitude                    142
longitude                   142
population                  142
rank                        142
state                       142
growth2                     142
growth%                     142
dtype: int64

In [138]:
pd.cut(df['growth%2'],
        bins=[df['growth%2'].min(), -0.0000001, 0.0000001, df['growth%2'].max()],
        include_lowest=True,
        labels=['-','0' ,'+']).value_counts()

growth%2
+    847
-    142
0     11
Name: count, dtype: int64

### Find the city or cities with latitudes more than two standard deviations from the mean.

In [115]:
mean_lat = df['latitude'].mean()
mean_lat

37.338240701500006

In [118]:
std_lat = df['latitude'].std()
std_lat

5.279126620896825

In [124]:
df.loc[df['latitude'] > (mean_lat + 2 * std_lat)].count()

city                        6
growth_from_2000_to_2013    6
latitude                    6
longitude                   6
population                  6
rank                        6
state                       6
growth2                     6
growth%                     6
dtype: int64

In [123]:
df.loc[df['latitude'] < (mean_lat - 2 * std_lat)].count()

city                        46
growth_from_2000_to_2013    46
latitude                    46
longitude                   46
population                  46
rank                        46
state                       46
growth2                     46
growth%                     46
dtype: int64

In [141]:
sd2df = df.loc[(df['latitude'] > df['latitude'].mean() + 2*df['latitude'].std()) |
   (df['latitude'] < df['latitude'].mean() - 2*df['latitude'].std()) ]

In [144]:
sd2df.shape

(52, 10)