In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

# Beyond 1

Using method chaining, and without assigning the downloaded data to a variable, can you return the current value? Your solution should consist of a single line, which includes the download, selection, and calculation.

In [2]:
pd.read_csv('https://api.blockchain.info/charts/market-price?format=csv',
                header=None,
                names=['date', 'value']).tail(1)['value']

365    36497.35
Name: value, dtype: float64

# Beyond 2

* The `pd.read_html` function, like `pd.read_csv`, takes a file-like object or a URL. It assumes that it'll encounter HTML-formatted text containing at least one table. It turns each table into a data frame, then returns a list of those data frames. With this in mind, retrieve 1 year of historical S&P 500 data from Yahoo Finance (https://finance.yahoo.com/quote/%5EGSPC/history?p=%5EGSPC), looking only at the `Date`, `Close`, and `Volume` columns. Show the date and volume of the days with the highest and lowest `Close` values. Note that Yahoo seems to look at the `User-Agent` header in the HTTP request, which cannot be set in `read_html`. So you'll need to use `requests` to retrieve the data, setting `User-Agent` to a string equal to `'Mozilla 5.0'`. Turn the content of the result into a `StringIO`, and then finally feed that to `read_html` and retrieve the data.

In [3]:
import requests
from io import StringIO

r = requests.get('https://finance.yahoo.com/quote/%5EGSPC/history?p=%5EGSPC', 
                headers={'User-Agent': 'Mozilla/5.0'})

df = pd.read_html(StringIO(r.content.decode()))[0].set_index('Date').iloc[:-1]
df

                 Open     High      Low   Close* Adj Close**      Volume
Date
Nov 13, 2023  4406.66  4421.76  4393.82  4411.55     4411.55  3326240000
Nov 10, 2023  4364.15  4418.03  4353.34  4415.24     4415.24  3665080000
Nov 09, 2023  4391.41  4393.40  4343.94  4347.35     4347.35  3900780000
Nov 08, 2023  4384.37  4391.20  4359.76  4382.78     4382.78  3729510000
Nov 07, 2023  4366.21  4386.26  4355.41  4378.38     4378.38  3791230000
...               ...      ...      ...      ...         ...         ...
Jun 29, 2023  4374.94  4398.39  4371.97  4396.44     4396.44  3696660000
Jun 28, 2023  4367.48  4390.35  4360.22  4376.86     4376.86  3739330000
Jun 27, 2023  4337.36  4384.42  4335.00  4378.41     4378.41  3573500000
Jun 26, 2023  4344.84  4362.06  4328.08  4328.82     4328.82  3415030000
Jun 23, 2023  4354.17  4366.55  4341.34  4348.33     4348.33  6053620000

[100 rows x 6 columns]

In [4]:
df['Close*'] = df['Close*'].astype(np.float64)
df

                 Open     High      Low   Close* Adj Close**      Volume
Date
Nov 13, 2023  4406.66  4421.76  4393.82  4411.55     4411.55  3326240000
Nov 10, 2023  4364.15  4418.03  4353.34  4415.24     4415.24  3665080000
Nov 09, 2023  4391.41  4393.40  4343.94  4347.35     4347.35  3900780000
Nov 08, 2023  4384.37  4391.20  4359.76  4382.78     4382.78  3729510000
Nov 07, 2023  4366.21  4386.26  4355.41  4378.38     4378.38  3791230000
...               ...      ...      ...      ...         ...         ...
Jun 29, 2023  4374.94  4398.39  4371.97  4396.44     4396.44  3696660000
Jun 28, 2023  4367.48  4390.35  4360.22  4376.86     4376.86  3739330000
Jun 27, 2023  4337.36  4384.42  4335.00  4378.41     4378.41  3573500000
Jun 26, 2023  4344.84  4362.06  4328.08  4328.82     4328.82  3415030000
Jun 23, 2023  4354.17  4366.55  4341.34  4348.33     4348.33  6053620000

[100 rows x 6 columns]

# Beyond 3

Create a two-row data frame with the highest and lowest closing prices for the S&P 500. Use the `to_csv` function to write this data to a new CSV file.

In [5]:
print(df.loc[df['Close*'].agg(['idxmin', 'idxmax']), 'Close*'].to_csv())

Date,Close*
"Oct 27, 2023",4117.37
"Jul 31, 2023",4588.96